<div ng-app="categoryApp">

  <div ng-controller="IndexCtrl">
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="open(category.category_id)" ng-repeat="category in categorys">
          Category: {{ category.name }}
        </li>
      </ul>

    </div>

  </div>

</div>