<div ng-app="categoryApp">
  <div ng-controller="MostReadCtrl">

    <div class="article-list-container">
      <h1>Most Read</h1>
      <div class="article-list article-primary" hm-tap="open(firstArticle.id)" ng-show="firstArticle">
        <div class="image-container">
          <img src="{{ firstArticle.thumb }}">
          <h2 class="headline" ng-bind-html-unsafe="firstArticle.headline" ng-style="size()"></h2>
        </div>
        <div class="digest" ng-bind-html-unsafe="firstArticle.teaser | htmlToPlaintext" ng-style="size()"></div>
        <div class="author-section">        
          <span class="section" ng-bind-html-unsafe="firstArticle.section" ng-style="size()"></span>
          <span class="author" ng-bind-html-unsafe="firstArticle.author" ng-style="size()"></span>
        </div>
      </div>

      <div ng-repeat="article in articles">
        <div class="article-list  article-nonprimary" hm-tap="open(article.id)">
          <h3 class="section" ng-bind-html-unsafe="article.section" ng-style="size()"></h3>
          <h2 class="headline" ng-bind-html-unsafe="article.headline" ng-style="size()"></h2>
          <div class="digest" ng-bind-html-unsafe="article.teaser | htmlToPlaintext" ng-style="size()"></div>
          <div class="author" ng-bind-html-unsafe="article.author" ng-style="size()"></div>
        </div>
        <ng-switch on="$index">
          <div ng-switch-when="1"><script>displayAd('homepage');</script></div>
        </ng-switch>
      </div>

    </div>

  </div>
</div>