<div ng-app="savedstoryApp">
  <div ng-controller="IndexCtrl">

    <div class="saved-stories article-list-container">
      <h1>Saved Stories</h1>
      <ul class="article-list" ng-show="articles">
        <li ng-repeat="article in articles" ng-hide="article.hide" class="savedstory">
          <img src="{{ article.thumb }}" hm-tap="open(article.id)" ng-show="article.thumb">
          <h3 class="section" ng-bind-html-unsafe="article.section">
          <h2 class="headline" hm-tap="open(article.id)" ng-bind-html-unsafe="article.headline"></h2>
          <div class="author" ng-bind-html-unsafe="article.author"></div>
          <div class="remove section" ng-click="remove(article)">remove</div>
        </li>
      </ul>

      <p ng-show="!articles" ng-cloak>You have no saved articles</p>
    </div>

  </div>
</div>