* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.content-padded {
  padding: 10px;
}

body {
    background: #fff;
    padding-bottom: 50px;
}


/** SECTIONS + HOMESCREEN **/
.article-list-container {
    padding: 10px 10px 0 10px;
    margin: 0 auto;
}
.image-container {
   position: relative;
   margin: 0px auto 0px auto;
    border: 1px solid #b6b6b6;
    padding: 0;
    width: 99%;
}
.image-container img {
    width: calc(100% - 2px);
    border: 1px solid #fff;
    display: block;
}
.article-list-container .headline {
  font: bold .9em georgia, times;
}
.article-list-container h1 {
  font: 1em georgia, times;
  margin: 0 0 0px 0;
  padding: 0;
}
.image-container .headline {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(0,0,0,.5);
  display: block;
  width: calc(100% - 22px);
  padding: 10px 10px 10px 10px;
  margin: 0 0px 1px 1px;
}
.article-nonprimary .headline {
    margin: 0 0 3px 0;
}
.article-list-container .digest {
  font: .85em/1.35 georgia, times;
  margin: 0 0 0px 0;
}
.article-primary .digest {
  margin: 5px 0 0 0;
}
.article-list-container .author {
  font: bold .85em arial;
  color: #444;
  display: block;
  float: left;
}
.section {
  font: bold .85em arial;
  color: #cc0000;
}
.article-list-container .section {
  margin: 0 0 3px 0;
}
.author-section .section {
  border-right: 1px solid #444;
  float: left;
  display: block;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}
.article-nonprimary {
  overflow: hidden;
}
.article-list {
  margin: 0 0 20px 0;
  overflow: hidden;
  
}
.article-primary .author {
  font-size: .85em;
}
.article-primary .author-section, .article-primary .digest {
  margin: 4px 4px;
}

/** ARTICLE VIEW **/
.article {
    padding: 5px 10px;
    margin: 0 auto;
    position: relative;
}
.article h2 {
  font: 1.5em georgia, times;
  padding: 0;
  margin: 0;
}
.article .author-date {
  padding: 0px 0 5px 0px;
}
.article .author-date div {
  font: .8em georgia, times;
  float: left;
  padding: 0px 5px;
  margin: 3px 0 7px 0;
}
.article .author-date div:first-child {
  border-right: 1px solid #d4d4d4;
  padding-left: 0px;
  color: #225990;
}
.article .image {
   margin: 0px auto 0px auto;
   padding: 0;
   font: .85em/1.4 helvetica, arial;
}
.article .image img {
    width: 100%;
    display: block;
}
.article .image .caption {
}
.article .image .photographer {
  color: #686868;
  font-style: italic;
}
.article .body {
  margin: 5px 0 0 0;
  border-top: 1px solid #cdcdcd;
  font: 1em/1.4 Georgia, times;
  display: block;
  clear: both;
}
.article .body img {
  width: 100%;
}
.article .content-controls {
  position: fixed; 
  top: 40px;
  right: 0;
  background: #7a7a7a;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -2px 5px 3px rgba(0,0,0,.25);
  
}
.content-controls ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.content-controls li {
  width: 30px;
  height: 25px;
  display: block;
  margin: 8px 0px 0 7px;
}
.content-share {
  position: fixed;
  bottom: 0;
  left: -25px;
  height: 35%;
  width: 120%;
  background: #ebedef;
}
.content-share  ul {
  list-style-type: none;
  padding: 1em 0 0 40px;
  margin: 0 0 0 0px;
  opacity: 1;
  width: 80%;
}
.content-share li {
  width: 65px;
  height: 78px;
  float: left;
  margin: 0;
  margin-right: .5em;
  padding: 0;
  position: relative;
}
.content-share li span {  
  font-size: .75em;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.content-share .safari span {  
  font-size: .6em;
}
.close {
  clear: both;
  overflow: hidden;
  padding: .5em 1em;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: #0079ff;
  width: 80%;
}
.content-share .facebook {
  background: url('/images/facebook@2x.png') no-repeat 0px 0px/65px 65px;
}
.content-share .mail {
  background: url('/images/mail@2x.png') no-repeat 0px 0px/65px 65px;
}
.content-share .mail a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
.content-share .safari {
  background: url('/images/safari@2x.png') no-repeat 0px 0px/65px 65px;
}
.content-share .save {
  background: url('/images/save-share@2x.png') no-repeat 0px 0px/65px 65px;
}
li.font {
  background: url('/images/font-button-article@2x.png') no-repeat;
}
li.share {
  
  background: url('/images/share-button-article@2x.png') no-repeat;
}
li.favorite {
  background: url('/images/favorite-button-article@2x.png') no-repeat;
}

/** SLIDEOUT MENU **/
.navmenu .topcoat-list__item {
  font: bold 1em 'arial black', arial;
  color: #e6e6e6;
}
.topcoat-list__container.navmenu {
  border-bottom: 1px solid #5e6061;
}
.topcoat-list__container.navsubmenu {
  border-bottom: 1px solid #5e6061;
  border-top: 1px solid #5e6061;
}
.navmenu .topcoat-list__item.parent  {
  padding-top: 0;
  padding-bottom: 0;
  background: #363636;
}
.navmenu .parent h3 {
  margin: .7em 0;
  font: .8em arial;
  background: url('/images/arrow-right.png') left center no-repeat;
  background-size:10px 16px;
  padding-left: 1.5em;
}
.navmenu .parent h3.active {
  background: url('/images/arrow-down.png') left center no-repeat;
}
.navmenu .parent .topcoat-list__container {
  margin: 0 -1.25em 0 -1.25em;
}
.navsubmenu .topcoat-list {
}

.navmenu .saved {
  background: url('/images/arrow.png') 65% center no-repeat;  
}
.navmenu .settings {
  background: url('/images/gear.png') 65% center no-repeat;  
}

/** SAVED STORIES **/
.saved-stories {

}
.saved-stories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.saved-stories .savedstory {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 10px 0;
  padding: 0px 0 15px 0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
}
.saved-stories .savedstory.ng-hide-add {
  display:block!important;
}
.saved-stories .savedstory.ng-hide {
  line-height:0;
  opacity:0;
}
.saved-stories h1 {
  font: bold 1em georgia, times;
  margin: 0 0 10px 0;
  padding: 0;
}
.saved-stories li img {
  float: right;
  width: 35%;
  margin-left: 15px;
  margin-bottom: 10px;
}
.saved-stories .remove {
  text-align: right;
  clear: both;
  overflow: hidden;
  margin: 10px 10px 0 0;
}
.saved-stories .section {
  margin: 0;
  padding: 0px 0 0 0;
}
.saved-stories .headline {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: .8em;
}

/** AD **/
.ad {
  border-top: 1px solid #ccc;  
  width: 300px;
  height: 250px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 10px;
}

/** MYDISPATCH **/
.mydispatch {

}
.mydispatch .logo {
  padding-top: .5em;
}
.mydispatch h1, .mydispatch h2  {
  font: bold 1em georgia, times;
  margin: 0.5em .8em 0 .8em;
  padding: 1.8em 0 .65em 0;
  text-align: center;  
}
.mydispatch .article-list h2 {
  text-align: left;
}
.mydispatch .description {
  font: .85em georgia, times;
  padding: .5em 0;
  width: 85%;
  text-align: center;
  margin: 0 auto 50px auto;
  display: block;
}
.mydispatch h2 {
  padding: .75em 0 1em 0;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .mydispatch h1 {
    background: url('/images/mydispatch2@2x.png') no-repeat 20px ;
    background-size: 80% auto;
  }
}
.mydispatch .topcoat-switch {
  float: right;
}
.mydispatch .topcoat-list__item {
  clear: both;
  overflow: hidden;
}
.mydispatch .topcoat-list__item {
  clear: both;
  overflow: hidden;
}
.mydispatch .topcoat-list__item .section {
  font-size: 1.25em;
  font-weight: bold;
  margin: .5em;
  padding: 0;
  float: left;
  color: #000;
}
.mydispatch .option {
  
}

/** SETTINGS **/
.settings h1 {
  font: bold 1em georgia, times;
  margin: 0em .8em 0 .8em;
  padding: .65em 0 .65em 0;
  text-align: center;
}
.settings .topcoat-switch {
  float: right;
}
.settings .topcoat-list__item {
  clear: both;
  overflow: hidden;
}
.settings .topcoat-list__item {
  clear: both;
  overflow: hidden;
}
.settings .topcoat-list__item .section {
  font-size: 1em;
  font-weight: bold;
  margin: .5em;
  padding: 0;
  float: left;
  color: #000;
}

.contact-mail a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.centered {
    height:100%;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }

  img#spinner {
    width:36px;
    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
  }

  .loading { height: 100%; }
