<script>

  // Sends message for the main view that listens with addEventListener()

   var pictureSource;   // picture source
    var destinationType; // sets the format of returned value

    // Wait for device API libraries to load
    //
    document.addEventListener("deviceready",onDeviceReady,false);

    // device APIs are available
    //
    function onDeviceReady() {
        pictureSource=navigator.camera.PictureSourceType;
        destinationType=navigator.camera.DestinationType;
    }

  // this isn't being used yet - openFromDrawer in controllers.category.js is the provided function
  function closeDrawerAndSendMessage(selection, id) {
    var msg = { selection: selection, id: id };
    window.postMessage(msg, "*");

    steroids.drawers.hideAll();
  }

  function gotoMyDispatch() {
    webView = new steroids.views.WebView("");
    steroids.layers.push(webView);
    steroids.drawers.hideAll();
  }

  

  //openShare(pictureSource.PHOTOLIBRARY)
  function openShare(source) {
     
     steroids.drawers.hideAll();
     navigator.camera.getPicture(onPhotoURISuccess, onFail, { quality: 50,
        destinationType: destinationType.FILE_URI,
        sourceType: source });
  }

  function onFail(message) {
      alert('Failed because: ' + message);
    }

  function onPhotoURISuccess() {

  }

  

</script>

  
  

<div ng-app="categoryApp">
  <div ng-controller="CategoriesCtrl">
    <div class="topcoat-list__container black-bg navmenu">
      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="gotoSection('mydispatch')">My Dispatch</li>
        <li class="topcoat-list__item saved" hm-tap="gotoSection('saved')">Saved Stories</li>
        <li class="topcoat-list__item" hm-tap="gotoSection('most_read')">Most Read</li>
        <li class="topcoat-list__item" hm-tap="gotoSection('submissions')">Reader Submissions</li>
        <li class="topcoat-list__item settings" hm-tap="gotoSection('settings')">Settings</li>
        <li class="topcoat-list__item parent" ng-repeat="parent in categories">
          <h3 ng-click="toggle(parent)" ng-class="{'active': parent.show}">{{ parent.parent }}</h3>
          <div class="topcoat-list__container black-bg navsubmenu" ng-show="parent.show" ng-cloak>
            <ul class="category-list topcoat-list">
              <li class="topcoat-list__item" hm-tap="openFromDrawer(category.tid, category.name, parent)" ng-repeat="category in parent.child">
                {{ category.name }}
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
