<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
  <title>AlaskaDispatch</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" href="/stylesheets/pull-to-refresh.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/steroids-addons/index.js"></script>
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>


  <script src="/models/models.js"></script>
  <script src="/controllers/article.js"></script>
  <script src="/controllers/category.js"></script>
  <script src="/controllers/mydispatch.js"></script>

  <!-- Core JS of Application outside the Angular MVC CRUD elements -->
  <script src="/javascripts/application.js"></script>
  <script src="/vendor/jquery/jquery-1.11.0.min.js"></script>
  <script src="/javascripts/jquery.plugin.pullToRefresh.js"></script>


</head>
<body onload="onLoad()">



  <div ng-app="articleApp" class="refreshable">
    <div ng-controller="IndexCtrl" class="wrap">

      <div class="loading" ng-show="homeloading" ng-bind-html-unsafe="loading"></div>
      
      <div class="article-list-container" ng-class="{'mydispatch': myDispatch}">
      <h1 ng-show="myDispatch"></h1>
        <div class="article-list article-primary" hm-tap="open(firstArticle.id)" ng-show="firstArticle">
          <div class="image-container">
            <img src="{{ firstArticle.photo }}">
            <h2 class="headline" ng-bind-html-unsafe="firstArticle.headline" ng-style="size()"></h2>
          </div>
          <div class="digest" ng-bind-html-unsafe="firstArticle.teaser | htmlToPlaintext" ng-style="size()"></div>
          <div class="author-section">        
            <span class="section" ng-bind-html-unsafe="firstArticle.section" ng-style="size()"></span>
            <span class="author" ng-bind-html-unsafe="firstArticle.author" ng-style="size()"></span>
          </div>
        </div>

        <!--//<div ng-click="connectFacebook()" class="facebook">facebook connect</div>//-->

        <div ng-repeat="article in articles">
          <div class="article-list  article-nonprimary" hm-tap="open(article.id)">
            <h3 class="section" ng-bind-html-unsafe="article.section" ng-style="size()"></h3>
            <h2 class="headline" ng-bind-html-unsafe="article.headline" ng-style="size()"></h2>
            <div class="digest" ng-bind-html-unsafe="article.teaser | htmlToPlaintext" ng-style="size()"></div>
            <div class="author" ng-bind-html-unsafe="article.author" ng-style="size()"></div>
          </div>
          <ng-switch on="$index">
            <div ng-switch-when="1"><script>displayAd('homepage');</script></div>
            <div ng-switch-when="7"><script>displayAd('homepage');</script></div>
          </ng-switch>
        </div>

        

      </div>

    </div>
  </div>


</body>
</html>
