<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
  <title>AlaskaDispatch</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/vendor/topcoat-0.8.0/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

   <script src="/components/angular/angular.min.js"></script>

  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/models/models.js"></script>
  <script src="/controllers/mydispatch.js"></script>


</head>
<body>

<div ng-app="mydispatchApp">

  <div ng-controller="SettingsCtrl">
    <div class="topcoat-list__container settings settings-mydispatch">

    <h1>Use MyDispatch for the homescreen</h1>
      <ul class="topcoat-list">
        
        <li class="topcoat-list__item">
           <div class="section">MyDispatch</div>
           <label class="topcoat-switch" hm-tap="toggleMyDispatch()">
             <input type="checkbox" class="topcoat-switch__input" ng-model="mydispatch">             
             <div class="topcoat-switch__toggle"></div>
          </label>
        </li>
        <li class="topcoat-list__item">
           <div class="section">Large Font</div>
           <label class="topcoat-switch" hm-tap="toggleLargeFont()">
             <input type="checkbox" class="topcoat-switch__input" ng-model="largefont">             
             <div class="topcoat-switch__toggle"></div>
          </label>
        </li>
        <li class="topcoat-list__item contact-mail">
          <a href="mailto:website@alaskadispatch.com">Contact Alaska Dispatch</a>
        </li>
      </ul>

    </div>
  </div>

</div>

</body>
</html>
