<div ng-app="articleApp">

  <div ng-controller="IndexCtrl">
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="open(article.article_id)" ng-repeat="article in articles">
          Article: {{ article.name }}
        </li>
      </ul>

    </div>

  </div>

</div>