<div ng-app="articleApp">

  <div ng-controller="ShowCtrl">
    <div class="content-padded article">
      <h2 ng-bind-html-unsafe="article.headline"></h2>
      <div class="author-date">
        <div ng-bind-html-unsafe="article.author"></div>
        <div>{{ article.date }}</div>
      </div>
      <div class="image" ng-show="article.photo">
        <img src="{{ article.photo }}">
        <div class="caption" ng-bind-html-unsafe="article.photocaption"></div>
        <div class="photographer" ng-bind-html-unsafe="article.photographer"></div>
      </div>
      <div convert-links data="{{ article.body | removeCKEditor }}" class="body" ng-style="size()"></div>
      <script>displayAd('homepage');</script>
      <div class="content-controls">
        <ul>
          <li class="font" hm-tap="adChangeFont()"></li>
          <li class="share" ng-model="articleShare" ng-click="articleShare = !articleShare"></li>
          <li class="favorite" hm-tap="adFavorite(article)"></li>
        </ul>
      </div>
      <div class="content-share" ng-show="articleShare">

          <ul>
            <li class="facebook" hm-tap="shareFacebook(article)"><span>Facebook</span></li>
            <li class="mail"><a href="mailto:?subject=Shared article from AlaskaDispatch.com&body=Check out this article from AlaskaDispatch.com - http://www.alaskadispatch.com/node/{{ article.id }}"><span>Mail</span></a></li>
            <li class="safari" hm-tap="adOpenSafari(article)"><span>Show in Safari</span></li>
            <li class="save" hm-tap="adFavorite(article)"><span>Save Story</span></li>
          </ul>


        <div class="close" ng-model="articleShare" ng-click="articleShare = !articleShare">Cancel</div>
      </div>
    </div>
  </div>

</div>