<div ng-app="mydispatchApp">

  <div ng-controller="IndexCtrl">
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="open(mydispatch.mydispatch_id)" ng-repeat="mydispatch in mydispatchs">
          Mydispatch: {{ mydispatch.name }}
        </li>
      </ul>

    </div>

  </div>

</div>