<script>



</script>

<div ng-app="mydispatchApp">

  <div ng-controller="ShowCtrl">
    <div class="topcoat-list__container mydispatch">

      <img src="/images/mydispatch2@2x.png" width="320px" class="logo">
      <ul class="topcoat-list option">

        <li class="topcoat-list__item toggle">
           <div class="section">Use MyDispatch</div>
           <label class="topcoat-switch" hm-tap="toggleMyDispatch()">
             <input type="checkbox" class="topcoat-switch__input" ng-model="mydispatch">             
             <div class="topcoat-switch__toggle"></div>
          </label>
        </li>
      </ul>
      <span class="description">Enable MyDispatch for the homescreen.</span>
      <ul class="topcoat-list">

      <h2>Select the sections you'd like to include on your homescreen</h2>
        
        <li class="topcoat-list__item" ng-repeat="category in categories">
           <div class="section">{{ category.name }} </div>
           <label class="topcoat-switch" hm-tap="toggleStatus(category.tid)">
             <input type="checkbox" class="topcoat-switch__input" ng-model="category.classname">             
             <div class="topcoat-switch__toggle"></div>
          </label>
        </li>
      </ul>

    </div>
  </div>

</div>