<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Drawer Example</title>

  <link rel="stylesheet" href="/vendor/topcoat-0.8.0/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  
<link rel="stylesheet" href="/vendor/topcoat-0.8.0/css/topcoat-mobile-dark.css" />

  <script src="/javascripts/onerror.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/models/models.js"></script>
  <script src="/controllers/article.js"></script>
  <script src="/controllers/category.js"></script>

  <!-- Controllers can be loaded dynamically based on the resource name -->
  <script src="/controllers/<%= yield.controller %>.js"></script>

</head>
<body>

  <%= yield.view %>

</body>
</html>
